---
title: QA
layout: default
description: Never forget to say “thanks”.
header-img: "img/qa/cate_bg_qa.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">   
              
            <!-- 类别列表 -->
            {% for post in site.categories.qa%}
            <div class="one-tag-list">
                  <!-- <li class="listing-item">
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </li> -->
                 <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                         <h8 class="post-date"> 
                            发布于 <time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date: '%b %d , %Y' }}</time>
                        </h8>
                        {% endif %}
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                </div>
                <hr>
                
            </div>
            {% endfor %}

        </div>
    </div>
</div>
